@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

.content {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  flex: 1;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px 12px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a:link {
  text-decoration: none;
  color: #484747;
}

.header {
  display: flex;
  padding: 8px 16px;
}

.header .left-links {
  display: flex;
  gap: 16px;
}
.header .right-links {
  display: flex;
  gap: 16px;
  margin-left: auto;
}

.footer {
  display: flex;
  background-color: #eee;
  padding: 8px 16px;
}

.footer .left-links {
  display: flex;
  gap: 16px;
}
.footer .right-links {
  display: flex;
  gap: 16px;
  margin-left: auto;
}
